.calendar {
    margin-top: 1%;
    margin-bottom: 2%;
}

.btn.btn-primary.active {
    color: #3F4254 !important;
    background-color: transparent !important;
    border-color: #E4E6EF !important;
}

.new {
    float: right;
}